@charset "utf-8";
/* CSS Document */
/*
Theme: Twenty Sixteen Child
http://thedirtysix.com/twenty-sixteen-child/
Author: Seth Perlstein
Author URI: http://thedirtysix.dev
Template: twentysixteen
Version: 1.0.0
*/

body {
	color: red;
}
